<!DOCTYPE html>
{% extends 'My_app/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">

<div class="container2">
  <img class='my_img' src="{% static 'other/my_pic.jpg' %}" alt="None">
  <h2>Hello I am Pasindu.CEO of Pasindu Aquarium company</h2>
  <h3>Here are some dtails of me: </h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <table>
    <tbody>
      <tr>
        <td>Phone Number: </td><td>+94741929262</td>
      </tr>
      <tr>
        <td>Email: </td><td>pasindunethmin1@gmail.com</td>
      </tr>
    </tbody>
  </table>


</div>

{% endblock %}
